*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo
{
    position: relative;
    font-size: 1.4em;
    color: #111;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 10vh;
    max-height: fit-content;
}
.logo p
{
    margin-left: 10pt;
    position: relative;
    align-content: center;
}

.logo img
{
    height: auto;
    width: auto;
}


header ul
{
    display: flex;
}
header ul li
{
    list-style: none;
    margin-left: 30px;
}
header ul li a
{
    text-decoration: none;
    font-weight: 700;
    color: #bdbdbd;
    letter-spacing: 1px;
}
header ul li a:hover
{
    color: #333;
}
.content
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 65px;
}
.content h2
{
    margin-top: 150px;
    font-size: 4em;
    color: #333;
}

.content h3
{
    margin-top: 20px;
    font-size: 2em;
    color: #333;
}

.content p
{
    font-size: 1.1em;
    color: #777;
    line-height: 1.8em;
}
.paragraph
{
    margin: 8pt;
}

.list
{
    margin: 2%;
    font-size: 1.1em;
    color: #777;
    line-height: 1.8em;
}

.btn
{
    display: inline-block;
    font-size: 1.1em;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    border: 2px solid #333;
    padding: 10px 30px;
    letter-spacing: 1px;
    transition: 0.5s;
}
.btn:hover
{
    background: #333;
    color: #fff;
    letter-spacing: 2px;
}

.sci
{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 60px;
}
.sci h3
{
    font-weight: 500;
    color: #bdbdbd;
    letter-spacing: 1px;
}
.sci li
{
    list-style: none;
    margin-left: 20px;
}
.sci li img
{
    max-width: 30px;
}
.images
{
    display: flex;
    flex-wrap: wrap;
}
.images .imgBx
{
    position: relative;
    width: 50%;
    height: 50vh;
    background: #0f0;
}
.images .imgBx:nth-child(2)
{
    background: #00f;
}
.images .imgBx:nth-child(3)
{
    width: 100%;
    background: #ff0;
}
.images .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 991px)
{
    .banner
    {
        grid-template-columns: 1fr;
    }
    header
    {
        padding: 20px 40px;
    }
    .content
    {
        padding: 40px;
    }
    .banner .box.content
    {
        height: 70vh;
    }
    .banner .box.images
    {
        height: auto;
    }
}
@media (max-width: 600px)
{
    .content h2
    {
        font-size: 3em;
    }
    .images .imgBx
    {
        width: 100%;
        height: 40vh;
    }
}
