name: Deploy to Pages

on:
  push:
    branches:
      - main

concurrency:
  group: "github-pages"
  cancel-in-progress: true

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Trigger-Test"
